manifest {
    mainScript = 'main.nf'
}

profiles {
    standard {
        executor = 'local'
        docker.enabled = true
    }
}

process {
	$adapter_trimming {
		container = "hadrieng/porechop"
		cpus = 4
		memory = '8 GB'
	}

    $assembly {
        container = {
            params.assembler == 'miniasm' ? 'hadrieng/miniasm' : 'hadrieng/canu'
        }
        cpus = 4
        memory = '8GB'
    }

    $consensus {
        container = "hadrieng/racon"
        cpu = 4
        memory = '8GB'
    }

    $polishing {
        container = "hadrieng/nanopolish"
        cpu = 4
        memory = '8GB'
    }
}
