manifest {
    mainScript = 'main.nf'
}

profiles {
    standard {
        executor = 'local'
        docker.enabled = true
    }
}


process
{
	$adapter_trimming
	{
		container = "genomicpariscentre/porechop"
	
		cpus = 4
		memory = '8 GB'
		jobName = "adapter_trimming"
	}


        $consensus 
        {
                container = "quay.io/shaze/racon"
                cpu = 4
                memory = '8 GB'
                jobName "consensus"
        }
}